<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <title>function.style.radial.layout</title>
    <script defer src="/node_modules/bxy/web/modules.js"></script>
    <script> window.addEventListener('modules',async function on_modules(event){

	},false)</script>
</head>
<body>
<radial-layout-lesson id="lesson"></radial-layout-lesson>
<noscript><article style="padding:40px;font-family:sans-serif;"><header><h1></h1></header><p>Enable JavaScript to properly load this site.</p></article></noscript>
</body>
</html>